html, body {
  height: 100%;
}
.wrapper {
  height: 100%;
  width: 100%;
}

body {
  background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
  background-color: #808080;
}

div, body {
  margin: 0;
  padding: 0;
}

.box1 {
  width: 70%;
  height: auto;
  margin: 40px auto;
  background: rgba(255, 255, 255, .5);
  border-radius: 25px;
}

#temp {
  display: inline;
  font-size: 96px;
}

.list-group-item {
  background: none;
}
